<%= render :partial => 'partials/navbar' %>

<div class="about">
  <h1>Meet the Developer:</h1><br>
  <div class="circle"><%= image_tag("tom.jpg") %></div><br><br>
    <h4>Tom</h4>
    <p>Developer/Designer</p>
</div>
