
  <%= render :partial => 'partials/navbar' %>


<div class="page">

  <div id="burritos">

  </div>

  <nav id='menu-ui' class='menu-ui'>
    <a href='#' class='active' id='filter-all'>All Burritos</a>
    <a href='#' id='filter-one-mile'> < 1 mile </a>
    <a href='#' id='filter-three-mile'> 1 - 3 miles </a>
    <a href='#' id='filter-five-mile'> 3 - 5 miles </a>
  </nav>

  <div class="big-map" id="map">
    <div class="row hidden spinner" id="spinner"><%= image_tag("mission-burrito-gif.gif") %></div>
  </div>
</div>
