
  <%= render :partial => 'partials/navbar' %>


<div class="page">

  <div class= "" id="burritos">

  </div>

  <div class="big-map" id="map">
    <div class="row hidden spinner" id="spinner"><%= image_tag("circle.gif") %></div>
  </div>
</div>
