
  <%= render :partial => 'partials/navbar' %>


<div class="page">

  <div id="burritos">

  </div>

  <div class="big-map" id="map">
    <div class="row hidden spinner" id="spinner"><%= image_tag("mission-burrito-gif.gif") %></div>
  </div>
</div>
