---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/search?ll=39.749964,-105.000012,,,&term=burrito
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ae68O8R7F20O_RULNb8p4A", oauth_nonce="7e811d869fa00ccc4d0a64ecf7818129",
        oauth_signature="an1K%2FbRSoopJM9DyZqRHs2VljLU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1435165893", oauth_token="la6wHLlWwsgNKIhMvoDspu5S46SS4X-a",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web10-uswest1aprod, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - ro
      X-Proxied:
      - extlb1-uswest1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"region": {"span": {"latitude_delta": 0.05557127365075587, "longitude_delta":
        0.08723462000000382}, "center": {"latitude": 39.75139733015875, "longitude":
        -105.00584190000001}}, "total": 577, "businesses": [{"is_claimed": true, "distance":
        110.24862016379709, "mobile_url": "http://m.yelp.com/biz/illegal-petes-denver",
        "rating_img_url": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png",
        "review_count": 395, "name": "Illegal Pete''s", "snippet_image_url": "http://s3-media2.fl.yelpcdn.com/photo/wT9Ug10D5u1BkDQ0SoizSg/ms.jpg",
        "rating": 4.0, "url": "http://www.yelp.com/biz/illegal-petes-denver", "location":
        {"city": "Denver", "display_address": ["1530 16th St", "Ste 101", "Northwest",
        "Denver, CO 80202"], "geo_accuracy": 9.5, "neighborhoods": ["Northwest", "Lodo"],
        "postal_code": "80202", "country_code": "US", "address": ["1530 16th St",
        "Ste 101"], "coordinate": {"latitude": 39.75095207521079, "longitude": -104.999905067144},
        "state_code": "CO"}, "phone": "3036232169", "snippet_text": "I always thought
        that I liked chipotle but, after visiting this Illegal Pete''s location for
        the first time I know that I was mistaken. Everything is...", "image_url":
        "http://s3-media3.fl.yelpcdn.com/bphoto/0kTshor3kjMuUfhXeHiFaA/ms.jpg", "categories":
        [["Bars", "bars"], ["Fast Food", "hotdogs"], ["Mexican", "mexican"]], "display_phone":
        "+1-303-623-2169", "rating_img_url_large": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/ccf2b76faa2c/ico/stars/v1/stars_large_4.png",
        "id": "illegal-petes-denver", "is_closed": false, "rating_img_url_small":
        "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/f62a5be2f902/ico/stars/v1/stars_small_4.png"},
        {"is_claimed": false, "distance": 243.2563861047735, "mobile_url": "http://m.yelp.com/biz/burrito-cart-denver",
        "rating_img_url": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 15, "name": "Burrito Cart", "snippet_image_url": "http://s3-media2.fl.yelpcdn.com/photo/__9fuDoQgS2TaUw71iTlbg/ms.jpg",
        "[...]
