---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/search?ll=40.061394,-105.210401,,,&term=burrito
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ae68O8R7F20O_RULNb8p4A", oauth_nonce="92cc9e35bb4a77e90101a169aaa2d1c6",
        oauth_signature="D1eB3qcm1QZVCirCkDCkP67wzJE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1434845762", oauth_token="la6wHLlWwsgNKIhMvoDspu5S46SS4X-a",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web44-uswest1bprod, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - ro
      X-Proxied:
      - extlb1-uswest1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"region": {"span": {"latitude_delta": 0.11201597000000163, "longitude_delta":
        0.12908071000001087}, "center": {"latitude": 40.05070835, "longitude": -105.22589285000001}},
        "total": 101, "businesses": [{"is_claimed": true, "distance": 5269.706443435504,
        "mobile_url": "http://m.yelp.com/biz/verde-boulder-3", "rating_img_url": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png",
        "review_count": 48, "name": "Verde", "snippet_image_url": "http://s3-media3.fl.yelpcdn.com/photo/mW7dbCR8qM4rJxxGnf5oTg/ms.jpg",
        "rating": 4.0, "url": "http://www.yelp.com/biz/verde-boulder-3", "location":
        {"city": "Boulder", "display_address": ["3070 28th St", "Ste B", "Boulder,
        CO 80301"], "geo_accuracy": 8.0, "postal_code": "80301", "country_code": "US",
        "address": ["3070 28th St", "Ste B"], "coordinate": {"latitude": 40.0310287,
        "longitude": -105.2577515}, "state_code": "CO"}, "menu_date_updated": 1430716189,
        "phone": "7204704348", "snippet_text": "Finally tried Verde and will definitely
        be back! Our (darling) waiter was great and the food was fresh and yum! Good
        Mexican food in Boulder....who...", "image_url": "http://s3-media2.fl.yelpcdn.com/bphoto/8PSG8c95pNJprk9YOQiY4Q/ms.jpg",
        "categories": [["Mexican", "mexican"]], "display_phone": "+1-720-470-4348",
        "rating_img_url_large": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/ccf2b76faa2c/ico/stars/v1/stars_large_4.png",
        "menu_provider": "single_platform", "id": "verde-boulder-3", "is_closed":
        false, "rating_img_url_small": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/f62a5be2f902/ico/stars/v1/stars_small_4.png"},
        {"is_claimed": true, "distance": 5130.071427239712, "mobile_url": "http://m.yelp.com/biz/efrains-mexican-restaurant-boulder",
        "rating_img_url": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png",
        "review_count": 199, "name": "Efrain''s Mexican Restaurant", "snippet_image_url":
        "http://s3-media2.fl.yelpcdn.com/photo/lFkR47p1MAk7b3r[...]
