<div class='landing'>
  <div class="welcome">
    <div class="header">
      BurritoFinder
    </div>

    <div id="user-widget">
      <%= link_to image_tag("facebook.png"), "/auth/facebook", id: "sign_in" %>
    </div>
    <h3> Find that perfect burrito no matter where you are. </h3>
  </div>

</div>
