div#map {
  position: absolute;
  top: 50px;
  bottom: 0px;
  width: 100%;
  z-index: -1;
}


.ui-button {
  /*background:#3887BE;*/
  color:#FFF;
  display:block;
  position:absolute;
  top:50%;left:50%;
  width:100px;
  height: 50px;
  margin:-20px 0 0 -80px;
  z-index:100;
  text-align:center;
  /*border:1px solid rgba(0,0,0,0.4);
  border-radius:3px;*/
  }

.ui-button:hover {
  background:#3074a4;
  color:#fff;
}
